section [class="container"] {
    padding: 4rem 2rem;
}
@media screen and (min-width: 1024px) {
    section [class="container"] {
        padding: 4rem;
    }
    nav [class="container"] {
        padding: 0 4rem;
    }
}

section:not(:first-of-type){
    text-align: center;
}

section:nth-child(2n){
    background-color: cadetblue;
}   

a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: cadetblue;
}

section .card,
.btn-outline-dark{
border: 2px solid #000000;
box-shadow: 4px 4px #000000;
transition: all 0.5s;
}
section .card,
.btn-outline-dark:hover{
box-shadow: 4px 4px #000000;
}
/*NAVBAR*/

.navbar {
    background-color: white;
}

.navbar-nav .nav-link {
 color: #000000;
 font-size: 1.1rem;
 transition: all 0.5s;
}
.navbar-nav .nav-link:hover {
    color: cadetblue;
}
@media screen and (min-width: 1024px) {
.navbar-nav .nav-item {
    padding: 0 1rem;
}
.navbar-brand {
    font-size: 1.5rem;
}
}

/*HERO*/

section.hero{
    padding-top: 72px;
}
@media screen and (max-width: 576px) {
    section.hero {
        text-align: center;
    }
    section.hero img{
        width: 70%;
    }
    }

    section .card,
    .btn-outline-dark{
border: 2px solid #000000;
box-shadow: 4px 4px #000000;
    }
    section .card,
    .btn-outline-dark:hover{
box-shadow: 4px 4px #000000;
    }
    section.card {
        max-width: 22rem;
        margin-inline: auto;
    }    

    /*ABOUT*/
    @media screen and (min-width: 1024px) {
    section.about .container {
        width: 60%;
    }
}

/*PROJECTS*/
section.projects .card {
    max-width: 17rem;
    text-align: left;
}

section.projects .card img{
max-width: 70%;
margin: 1rem auto;
}

/*CONTACTS*/
section.contacts .social-media a {
    padding: 0 0.5rem;
    font-size: 1.3rem;
}

